@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');
@font-face { font-family: 'HandelsonThreeCYR-Three';  src: local('HandelsonThreeCYR-Three'), url('https://nomail.com.ua/files/woff/21aa9e6fb258ee1abac2d7175cc13bae.woff') format('woff'); }

/*Шапка*/
/*лого*/
.top_header [src$="./images/logo_new.png"] {content: url(https://beon.vip/uploads_user/10000/9848/f988ea1dfff55e59e6b4a17d25ec9433.png) !important; margin-left: 80px !important;}
.top_header {margin-bottom: -50px !important; margin-left: auto; margin-right: auto; width: 100% !important; background: rgba(18, 29, 49, 0.7) !important;
border-width: 2px !important; 
        border-style: solid !important; 
        border-image: linear-gradient(to top, #e146a6 0%, transparent 60%) !important; 
        border-image-slice: 1 !important;}

/*Все ссылки в шапке*/
a.top_menu_item:visited { font-weight: bold !important;  font-size: 16px !important; margin-bottom: 5px !important; color: #fff !important;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff !important; }
a.top_menu_item:visited:hover { font-weight: bold !important; color: #20e7f5 !important; text-shadow: none !important;
text-shadow:
    0 0 5px #20e7f5,
    0 0 10px #20e7f5,
    0 0 20px #20e7f5,
    0 0 40px #20e7f5,
    0 0 80px #20e7f5,
    0 0 90px #20e7f5,
    0 0 100px #20e7f5,
    0 0 150px #20e7f5 !important;}
a.top_menu_item:link { font-weight: bold !important;  font-size: 16px !important; margin-bottom: 5px !important; color: #fff !important;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff !important;}
a.top_menu_item:link:hover { font-weight: bold !important; color: #20e7f5 !important; 
text-shadow:
    0 0 5px #20e7f5,
    0 0 10px #20e7f5,
    0 0 20px #20e7f5,
    0 0 40px #20e7f5,
    0 0 80px #20e7f5,
    0 0 90px #20e7f5,
    0 0 100px #20e7f5,
    0 0 150px #20e7f5 !important;}

/*Убирает стрелочки из шапки*/
.top_menu_link_container [src="./images/icons/menu_arrow.gif"] {display: none !important}

/*колокольчик и стрелочка*/
/*оповещение*/
button#newupdates.button_down {background: url(https://beon.vip/uploads_user/10000/9848/0434199781108144065bb43f1fb213c6.png) left no-repeat !important;
box-shadow: none !important; padding-right: 45px !important; }

/*оповещение*/
button#newupdates.button_down {background: url(https://beon.vip/uploads_user/10000/9848/0434199781108144065bb43f1fb213c6.png) left no-repeat; box-shadow: none; box-shadow: none !important; padding-right: 45px !important;}

/*стрелочка*/
.button_down {background: url(https://beon.vip/uploads_user/10000/9848/52ed3d2b227baeaf08b723408a24a1e1.png) no-repeat !important;
background-position: right !important; box-shadow: none !important; margin-left: 13px !important; width: 30px !important; height: 30px !important;}

.button_down [src="/images/button_down.svg"] {display: none !important;}
.button_down [src="/images/notify.svg"] {display: none !important;}

/*оповещение красненькое*/
.badge {margin-left: 28px !important;}

/*Убирает иконки из меню*/
.menu_icon2{display: none;}

/*фон выпадающего меню*/
.menu_dropdown {background: rgba(18, 29, 49, 0.9) !important; border-radius: none !important; border-width: 2px !important; 
        border-style: solid !important; 
        border-image: linear-gradient(to bottom, #e146a6 0%, transparent 40%, transparent 60%, #e146a6 100%) !important; 
        border-image-slice: 1 !important; font-size: 15px !important;}

/*фон в выпадающем меню под текстом*/
a.menu_item { background: transparent !important; color: #fff !important; border-radius: 0px !important; border: none !important; font-size: 15px !important;}

/*фон в выпадающем меню под текстом при наведении*/
a.menu_item:hover { background: transparent !important;  border-radius: 0px !important; border: none !important; color: #fff !important; text-shadow: 0 0 6px !important; font-weight: bold !important; font-size: 15px !important; 
text-shadow:
    0 0 5px #fff,
    0 0 10px #fff !important;}

/*фон в выпадающем меню под текстом при наведении*/
a.menu_item:hover { background: transparent;  border-radius: 0px; border: none; color: #fff; text-shadow: 0 0 6px; font-weight: bold; font-size: 15px; 
text-shadow:
    0 0 5px #fff,
    0 0 10px #fff;}

/*Кнопка написать в дневник*/
.btn-primary {background: transparent !important; border: none !important; text-align: center !important; margin-left: 10px !important; margin-bottom: 10px !important; border-radius: 0px !important; font-weight: bold !important;  font-size: 15px !important; color: #fff !important; text-shadow:
    0 0 5px #fff,
    0 0 10px #fff !important;}


/*Кнопка написать в дневник при наведении*/
.btn-primary:hover {color: #20e7f5 !important; 
text-shadow:
    0 0 5px #20e7f5,
    0 0 10px #20e7f5,
    0 0 20px #20e7f5,
    0 0 40px #20e7f5,
    0 0 80px #20e7f5,
    0 0 90px #20e7f5,
    0 0 100px #20e7f5,
    0 0 150px #20e7f5 !important; background: transparent !important; border: none !important; text-align: center !important; margin-left: 10px !important; margin-bottom: 10px !important; border-radius: 0px !important;}

/*Загрузка*/
[src="/images/page_load.gif"] {content: url(https://beon.vip/uploads_user/10000/9848/d7ca8e9b2067f16492b766a1f603052a.gif); position: center; margin-top: 80px;}

/*Фон*/
body {background: url(https://i.ibb.co/nL92fwf/wallpaperflare-com-wallpaper-3.jpg) #111629 !important; background-position: center bottom !important; background-repeat: no-repeat !important; background-attachment: fixed !important; background-size: 100% !important;}

/*Моб. Фон*/
body {background: url(https://i.ibb.co/41cP0FT/image.jpg) #111629;; background-attachment: fixed; background-position: center bottom; background-repeat: no-repeat; background-size: 100%;}

/*рамки, шрифт*/
div, td {border: none !important; font-family: 'Jura' !important; font-weight: 400; font-style: normal; }

div#user_status {color: #fc52bb; color: #fc52bb !important;  text-shadow: #b51212 0px 0px 1px !important;  text-shadow: #b51212 0px 0px 1px;}

/*Моб. рамки, шрифт*/
div, td {border: none; font-family: 'Jura'; font-weight: 400; font-style: normal; }

@media screen {
body {font-family: 'Jura';}
}

/*Ссылки*/ 
a {color: #fd7bcc !important; color: #fd7bcc;}
a:hover {text-decoration: none !important; text-decoration: none; color: #13d5e3 !important; color: #13d5e3; text-shadow: 0 0 5px #20e7f5, 0 0 10px #20e7f5 !important; text-shadow: 0 0 5px #20e7f5;}

div.p-2 {color: #fff !important; color: #fff;}
div.p-2:hover {color: #fff !important; color: #fff;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 70px #0ff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 110px #0ff !important;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 70px #0ff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 110px #0ff;  
text-decoration: none !important; text-decoration: none;}

a.card-link {color: #000; color: #000 !important; text-shadow: none !important; text-shadow: none; }
a.card-link:hover {color: #e146a6 !important; color: #e146a6;  text-decoration: none !important; text-decoration: none; text-shadow: none !important; text-shadow: none; }

.content {max-width: 100% !important;}

/*меню слева*/
.seBlogColumnRightPadding {
display: inline-block;
padding-top: 5px;
vertical-align: top;
width: 280px !important; margin-bottom: 15px !important; padding: 15px !important; margin-left: 40px !important; font-size: 18px !important;  margin-top: 40px !important;
background: rgba(18, 29, 49, 0.7) !important;
border-width: 2px !important; 
        border-style: solid !important; 
        border-image: linear-gradient(to bottom, #e146a6 0%, transparent 40%, transparent 60%, #e146a6 100%) !important; 
        border-image-slice: 1 !important;}

/*Моб. меню слева*/
.seBlogColumnRightPadding {
margin-bottom: 15px; padding: 15px; font-size: 18px;  margin-top: 40px;
background: rgba(18, 29, 49, 0.7);
border-width: 2px; 
        border-style: solid; 
        border-image: linear-gradient(to bottom, #e146a6 0%, transparent 40%, transparent 60%, #e146a6 100%); 
        border-image-slice: 1;  margin-top: 60px !important;}
div.seBlogColumnRightPadding {margin-left: auto; margin-right: auto; width: 100%;}

/*Фото*/
.blog_leftphoto img {content: url(https://beon.vip/uploads_user/10000/9848/f4f9afccf0da1002820082dad3138e8d.png) !important; 
width: 150px !important; box-shadow: 0px 0px 4px #ff7dcd !important; 
border-radius: 5px !important; margin-bottom: 10px !important; margin-top: 10px !important;}

/*Моб. Фото*/
.blog_leftphoto img {content: url(https://beon.vip/uploads_user/10000/9848/f4f9afccf0da1002820082dad3138e8d.png); 
width: 150px; box-shadow: 0px 0px 4px #ff7dcd; 
border-radius: 5px; margin-bottom: 10px; margin-top: 10px;}

.post_image img {border: none !important; border: none; box-shadow: 0px 0px 2px #121d31 !important; box-shadow: 0px 0px 2px #121d31; border-radius: 5px !important; border-radius: 5px;}
img.photo {border: none !important; border: none; border-radius: 5px !important; border-radius: 5px;}

/*Маркированное меню*/
li.p-1 {list-style-type: none !important; font-size: 14px !important;}
li.p-1 {list-style-type: none; font-size: 14px;}

/*имя/название*/
.blog_leftprofile {margin-top: 15px; font-size: 14px !important; text-align: center; border: none !important; border-radius: 40px !important; width: 150px !important; margin-left: auto !important; margin-right: auto !important; color: #c8fefe !important;}

/*Моб. имя/название*/
.blog_leftprofile {margin-top: 15px; font-size: 14px; text-align: center; border: none; border-radius: 40px; width: 150px; margin-left: auto; margin-right: auto; color: #c8fefe;}

/*Заголовки в меню*/
.card-header {text-align: center !important; font-size: 30px !important; color: #fc52bb !important; font-family: 'HandelsonThreeCYR-Three' !important;}

/*Моб. Заголовки в меню*/
.card-header {text-align: center; font-size: 20px; color: #fc52bb; font-family: 'HandelsonThreeCYR-Three';}

/*Записи_1*/
.card.mb-2.post_home { width: 90% !important; padding: 20px !important; margin-bottom: 20px !important; margin-left: 90px !important;
 font-size: 18px !important; background-image: url(https://beon.vip/uploads_user/10000/9848/39a729606baf00280aab6c36475c0fbe.png) !important; background-position: right top !important; background-repeat: no-repeat !important; 
         margin-top: 60px !important;
background-color: rgba(18, 29, 49, 0.7) !important;
border-width: 2px !important; 
        border-style: solid !important; 
        border-image: linear-gradient(to bottom, #e146a6 0%, transparent 40%, transparent 60%, #e146a6 100%) !important; 
        border-image-slice: 1 !important; color: #000000 !important;}

.card.mb-2.post_home:hover {background-color: rgba(78, 27, 75, 0.8) !important; 
        border-width: 2px !important; 
        border-style: solid !important; 
        border-image: linear-gradient(to bottom, #fff 0%, transparent 40%, transparent 60%, #fff 100%) !important; 
        border-image-slice: 1 !important; 
-moz-transition: background-color 0.8s 0.1s ease !important;
-o-transition: background-color 0.8s 0.1s ease !important;
-webkit-transition: background-color 0.8s 0.1s ease !important; }

/*Моб. Записи_1*/
.card.mb-2.post_home {padding: 20px; margin-bottom: 20px; background-image: url(https://beon.vip/uploads_user/10000/9848/39a729606baf00280aab6c36475c0fbe.png); background-position: right top; background-repeat: no-repeat; 
margin-top: 60px;
background-color: rgba(18, 29, 49, 0.7);
border-width: 2px; 
        border-style: solid; 
        border-image: linear-gradient(to bottom, #e146a6 0%, transparent 40%, transparent 60%, #e146a6 100%); 
        border-image-slice: 1; color: #000000;}

.card.mb-2.post_home:hover {background-color: rgba(78, 27, 75, 0.8); 
        border-width: 2px; 
        border-style: solid; 
        border-image: linear-gradient(to bottom, #fff 0%, transparent 40%, transparent 60%, #fff 100%); 
        border-image-slice: 1; 
-moz-transition: background-color 0.8s 0.1s ease;
-o-transition: background-color 0.8s 0.1s ease;
-webkit-transition: background-color 0.8s 0.1s ease; }

/*Записи_2*/
.post_container {background: rgba(255, 255, 255, 0.9) !important; padding: 15px !important; font-size: 15px !important; font-weight: bold !important; color: #000000 !important; border-radius: 10px !important;}

/*Моб. Записи_2*/
.post_container {background: rgba(255, 255, 255, 0.9); padding: 15px; font-weight: bold; color: #000000; border-radius: 10px; font-size: 15px;}

/*Заголовок записи*/
.card-title {font-size: 22px !important; padding-bottom: 10px !important; padding-bottom: 10px; } 

/*Дата*/
.card-subtitle.mb-2.text-muted.post_date {font-size: 12px !important; color: #fff !important; text-shadow: #b51212 0px 1px 4px !important; background: linear-gradient(to left, transparent 0%, #20e7f5 100%) !important; padding: 3px !important;}

/*Моб. Дата*/
.card-subtitle.mb-2.text-muted.post_date {font-size: 12px; color: #fff; text-shadow: #b51212 0px 1px 4px; background: linear-gradient(to left, transparent 0%, #20e7f5 100%); padding: 3px;}

/*Комментарии*/
.seBlogComments  {width: 90% !important; padding: 20px !important; margin-bottom: 20px !important; margin-left: 90px !important; background-color: rgba(18, 29, 49, 0.7) !important;
border-width: 2px !important; 
        border-style: solid !important; 
        border-image: linear-gradient(to bottom, #e146a6 0%, transparent 40%, transparent 60%, #e146a6 100%) !important; 
        border-image-slice: 1 !important; color: #fff !important;}

.profile_comment_body {background: rgba(255, 255, 255, 0.9) !important; padding: 15px !important; color: #000000 !important; border-radius: 10px !important; font-size: 15px !important; }

.profile_comment_date {color: #fff !important; color: #fff;}
#comment_user_status {color: #fff !important; color: #fff;}

.comment_headline {background: none !important; background: none; color: #fff !important;}

/*Моб. Комментарии*/
.seBlogComments  {padding: 20px; margin-bottom: 20px; background-color: rgba(18, 29, 49, 0.7);
border-width: 2px; 
        border-style: solid; 
        border-image: linear-gradient(to bottom, #e146a6 0%, transparent 40%, transparent 60%, #e146a6 100%); 
        border-image-slice: 1; color: #fff;}

.profile_comment_body {background: rgba(255, 255, 255, 0.9); padding: 15px; color: #000000; border-radius: 10px;}

.profile_comment_date {color: #fff;}
#comment_user_status {color: #fff;}

.comment_headline {background: none; color: #fff;}

/*Окно оповещений*/
.modal-content {background: rgba(18, 29, 49, 0.9) !important; border-radius: none !important; border-width: 2px !important; 
        border-style: solid !important; 
        border-image: linear-gradient(to bottom, #e146a6 0%, transparent 40%, transparent 60%, #e146a6 100%) !important; 
        border-image-slice: 1 !important; font-size: 15px !important; color: #fff !important;}
.btn.btn-secondary {background: none !important; text-align: center !important; border-radius: 0px !important; border: none !important; color: #fff !important; font-weight: bold !important; text-shadow:
    0 0 5px #fff,
    0 0 10px #fff !important;}
.btn.btn-secondary:hover {background: none !important; text-align: center !important; border-radius: 0px !important; border: none !important; color: #20e7f5 !important; 
text-shadow:
    0 0 5px #20e7f5,
    0 0 10px #20e7f5 !important; font-weight: bold !important;}

/*Моб. Окно оповещений*/
.modal-content {background: rgba(18, 29, 49, 0.9); border-radius: none; border-width: 2px; 
        border-style: solid; 
        border-image: linear-gradient(to bottom, #e146a6 0%, transparent 40%, transparent 60%, #e146a6 100%); 
        border-image-slice: 1; color: #fff;}
.btn.btn-secondary {background: none; text-align: center; border-radius: 0px; border: none; color: #fff; font-weight: bold; text-shadow:
    0 0 5px #fff,
    0 0 10px #fff;}
.btn.btn-secondary:hover {background: none; text-align: center; border-radius: 0px; border: none; color: #20e7f5; 
text-shadow:
    0 0 5px #20e7f5,
    0 0 10px #20e7f5; font-weight: bold;}

/*Окно удалить комментарий*/
div#TB_window {background: rgba(18, 29, 49, 0.9) !important; border-radius: none !important; border-width: 2px !important; 
        border-style: solid !important; 
        border-image: linear-gradient(to bottom, #e146a6 0%, transparent 40%, transparent 60%, #e146a6 100%) !important; 
        border-image-slice: 1 !important; font-size: 15px !important; color: #fff !important; padding: 5px !important;}
input.button {background: none !important; text-align: center !important; border-radius: 0px !important; border: none !important; color: #fff !important; font-weight: bold !important; text-shadow:
    0 0 5px #fff,
    0 0 10px #fff !important;}
input.button:hover {background: none !important; text-align: center !important; border-radius: 0px !important; border: none !important; color: #20e7f5 !important; 
text-shadow:
    0 0 5px #20e7f5,
    0 0 10px #20e7f5 !important; font-weight: bold !important;}

/*Моб. Окно удалить комментарий*/
div#TB_window {background: rgba(18, 29, 49, 0.9); border-radius: none; border-width: 2px; 
        border-style: solid; 
        border-image: linear-gradient(to bottom, #e146a6 0%, transparent 40%, transparent 60%, #e146a6 100%); 
        border-image-slice: 1; color: #fff; padding: 5px;}
input.button {background: none; text-align: center; border-radius: 0px; border: none; color: #fff; font-weight: bold; text-shadow:
    0 0 5px #fff,
    0 0 10px #fff;}
input.button:hover {background: none; text-align: center; border-radius: 0px; border: none; color: #20e7f5; 
text-shadow:
    0 0 5px #20e7f5,
    0 0 10px #20e7f5; font-weight: bold;}

/*Полоса прокрутки*/
::-webkit-scrollbar { width: 10px; height: 10px; border-radius: 0px;}
::-webkit-scrollbar-button { background-color: none;}
::-webkit-scrollbar-track { background: linear-gradient(0deg, rgb(32, 231, 245), rgb(225, 70, 166)); border-radius: 0px;}
::-webkit-scrollbar-track-piece { background-color: #121d31; border-radius: 0px;}
::-webkit-scrollbar-thumb { height: 20px; background: linear-gradient(0deg, rgb(32, 231, 245), rgb(225, 70, 166)); border-radius: 0px;}
::-webkit-scrollbar-corner { background-color: #121d31; border-radius: 0px;}
::-webkit-resizer { background-color: none; border-radius: 0px; }

.copyright { padding: 5px !important;}
a.copyright {border: none !important; background-image: none !important;}

/*Мобильная версия*/

#mobile_photo_wrap{background: rgba(18, 29, 49); margin-bottom: 10px;}
#mobile_menu .menu_item_dropdown a {background: rgba(18, 29, 49);}
#mobile_menu .menu_item_dropdown a:hover {background: rgba(18, 29, 49);}
.portal_spacer {background: rgba(18, 29, 49);}

/*логомоб*/
nav .p-1 {
background: url(https://beon.vip/uploads_user/10000/9848/f988ea1dfff55e59e6b4a17d25ec9433.png) no-repeat;
-webkit-background-size:100px,50px; position:relative; right: 10px; top: 5px;}
nav.top_menu .p-1 a {
opacity: 0;}
.top_menu img {
opacity: 0;}
nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu{background: rgba(18, 29, 49, 0.7);
border-width: 2px; 
        border-style: solid; 
        border-image: linear-gradient(to top, #e146a6 0%, transparent 60%); 
        border-image-slice: 1;}

/*Кнопка вниз*/
.btn.btn-outline-success {border: none; color: transparent; background: url(https://beon.vip/uploads_user/10000/9848/52ed3d2b227baeaf08b723408a24a1e1.png) no-repeat; background-position: center;}
div#profile_profile {border: none;}  

#mobile_menu {background: rgba(18, 29, 49);}

/*Меню в шапке*/
button.navbar-toggler { background: none; border: none; border-color: transparent;}
.navbar-toggler-icon {background-image: url(https://beon.vip/uploads_user/10000/9848/41205b8a7695dc151a628521f6f1df50.png); background-size: contain;}
.navbar-light .navbar-toggler: focus {outline: none;}

/*Написать в дневник*/
button.btn.btn-primary {border: none; background: rgba(18, 29, 49); padding-top: 5px; color: #fff; }
button.btn.btn-primary:hover {border: none; color: #fff; font-weight: bold; text-shadow: 0 0 5px #fff, 0 0 10px #fff; background: rgba(18, 29, 49);}

.button { font-size: 14px !important}
.button { font-size: 12px; padding-left: 5px; padding-right: 5px;}


/*Форма записи*/
div#entry_main.pt-2 {width: 90% !important; padding: 20px !important;
background-color: rgba(18, 29, 49, 0.7) !important;
border-width: 2px !important; 
        border-style: solid !important; 
        border-image: linear-gradient(to bottom, #e146a6 0%, transparent 40%, transparent 60%, #e146a6 100%) !important; 
        border-image-slice: 1 !important; margin-left: 90px !important; color: #fff !important; margin-top: 50px !important;}

/*Моб. Форма записи*/
div#entry_main.pt-2 {padding: 20px; margin-top: 50px; background-color: rgba(18, 29, 49, 0.7);
border-width: 2px; 
        border-style: solid; 
        border-image: linear-gradient(to bottom, #e146a6 0%, transparent 40%, transparent 60%, #e146a6 100%); 
        border-image-slice: 1; margin-left: 90px !important; color: #fff !important; margin-top: 50px; color: #fff;}

/*Следующая страница*/
a.page-link {background-color: rgba(18, 29, 49, 0.7) !important; border-image: linear-gradient(0deg, rgb(32, 231, 245), rgb(225, 70, 166)) !important; border-style: solid !important;  border-width: 1px !important;
border-image-slice: 1 !important; color: #fff !important; right: 80px !important; position: absolute !important; right: 5% !important; text-shadow:
    0 0 5px #fff,
    0 0 10px #fff !important; margin-bottom: 10px !important; }
a.page-link:hover {background-color: rgba(18, 29, 49, 0.7) !important; border-image: linear-gradient(0deg, rgb(32, 231, 245), rgb(225, 70, 166)) !important; border-style: solid !important;  border-width: 1px !important;
border-image-slice: 1 !important; right: 80px !important; position: absolute !important; right: 5% !important; color: #20e7f5 !important; 
text-shadow:
    0 0 5px #20e7f5,
    0 0 10px #20e7f5 !important; font-weight: bold !important;}

/*Моб. Следующая страница*/
a.page-link {background-color: rgba(18, 29, 49, 0.7); color: #fff; border-image: linear-gradient(0deg, rgb(32, 231, 245), rgb(225, 70, 166)); border-style: solid;  border-width: 1px; border-image-slice: 1; font-weight: bold;}
a.page-link:hover {background: none; color: #20e7f5; text-shadow: 0 0 5px #20e7f5, 0 0 10px #20e7f5; font-weight: bold;  font-weight: bold;}

#postcomment_userphotos {
width: 1000px !important;
height: 250px !important;
display: inline-flex !important;
overflow: auto !important;
max-width: 80% !important;
margin-top: 50px !important;
padding-right: 20px !important;}

img.img-thumbnail {
width: 100px !important;
height: 100% !important;
max-width: 100px !important;}

/*Выбор аватарки*/
div#postcomment_userphotos { border: none !important; border-radius: 0px !important; margin-left: 15px !important;  background: none !important; border-image: linear-gradient(0deg, rgb(32, 231, 245), rgb(225, 70, 166)) !important; border-style: solid !important;
border-image-slice: 1 !important; }
.userphoto_selected {background: rgb(225, 70, 166) !important; border-radius: 0px !important;}
.img-thumbnail {border-radius: 0px !important; background: none !important; border: none !important; background: none; border: none; padding: 0px !important; padding: 0px;}

/*Моб. Выбор аватарки*/
div#postcomment_userphotos { border: none; border-radius: 0px; width: 17%;  background: none; margin-left: 5px; border-image: linear-gradient(0deg, rgb(32, 231, 245), rgb(225, 70, 166)); border-style: solid;
border-image-slice: 1;}
.userphoto_selected {background: rgb(225, 70, 166); border-radius: 0px;}
.img-thumbnail {border-radius: 0px; background: none; border: none; background: none; border: none; padding: 0px !important; padding: 0px;}

/*Снимает текстовое ограничение записи*/
.post_text {max-height: none !important;}

/*Моб. Снимает текстовое ограничение записи*/
.post_text {max-height: none;}

textarea#comment_body.comment_area {overflow: scroll !important; border: none !important;}

div.copyright {color: #fff !important; !important; color: #fff;}

.group_desc { color: #fff !important;  color: #fff; width: 90%; margin-left: 9%;}

[href="https://beon.vip/pacific/"] { color: #fff; color: #fff !important; }
