/*Моб.*/
a, div, td, tr {
color: #fff;
}

/*Моб.*/
a {
text-decoration: none;
color: #fff;
}

a:hover {
color: #fff;
text-decoration: none;
transition: 2s;
}

a.menu_item {
color: #fff;
text-decoration: none;
text-shadow: none;
}

a.menu_item:hover {
color: #fff;
text-decoration: none;
text-shadow: none;
}

/*Моб.*/
body {
background: url(https://i.ibb.co/XkC3Sfj/image.jpg) center top no-repeat;
background-attachment: fixed;
background-size: 100%;
}

.card {
border: none;
}

.card-body {
list-style-type: none;
border: none;
} 

.card-header {
text-align: center;
border-bottom: none;
}

/*Моб*/
.blog_leftphoto {
margin-bottom: 10px;
}
/*Моб*/
img.photo {
border: none;
border-radius: 10px;
box-shadow: 0 0 4px #280350;
margin- bottom: 8px;
}

/*Моб*/
.card.p-1 {
padding-bottom: 10px;
border-radius: 0px;
}

/*Моб*/
.seBlogColumnLeft {
background: rgba(40, 3, 80, 0.6);
box-shadow: 0 0 3px 2px rgba(250, 247, 137, 0.4);
border-radius: 30px;
padding: 20px;
}

.seBlogColumnLeft a{
color: #fff;
}

/*Моб*/
.card-subtitle.mb-2.text-muted.post_date {
font-weight: bold;
color: #fff;
margin-top: 5px;
margin-bottom: 20px;
padding: 10px;
border-bottom: 1px solid #fff;
text-align: center;
}

/*Моб*/
.card-title {
text-align: center;
margin-bottom: 0px;
}

/*Моб*/
.card.mb-2.post_home {
margin-bottom: 50px;
}

/*Моб*/
.post_image a img {
margin-bottom: 8px;
border-radius: 10px;
box-shadow: 0 0 4px #280350;
}

/*Моб*/
.category {
text-shadow: none;
margin-bottom: 10px;
}

.category a {
text-shadow: none;
}

.category a:hover {
text-shadow: 0 0 10px #fcfab5;
}

/*Моб*/
.seBlogColumnRight {
background: rgba(40, 3, 80, 0.6);
box-shadow: 0 0 3px 2px rgba(250, 247, 137, 0.4);
border-radius: 30px;
border: none;
margin-bottom: 10px;
color: #fff;
}

/*Моб*/
.post_text.pl-3 {
margin-bottom: 10px;
color: #fff;
} 

/*Моб*/
.modal-content {
background: rgba(40, 3, 80);
box-shadow: 0 0 3px 2px rgba(250, 247, 137, 0.4);
border-radius: 30px;
}

.modal-header {
 border: none;
}

.modal-footer {
border: none;
}

button.close {
display: none;
}

/*Моб*/
button.btn.btn-secondary {
background: transparent;
text-shadow: 0 0 4px #280350;
border: none;
color: #fff;
}

button.btn.btn-secondary:hover {
background: transparent;
color: #fff;
text-shadow: 0 0 10px #fcfab5;
transition: 2s;
}

.button_down {
outline: none;
}

/*Моб*/
.comment_headline {
background: none;
border: none;
margin-top: 20px;
}

.profile_postcomment {
background: transparent;
border: none;
}

/*Моб*/
#postcomment_userphotos {
background: transparent;
border: none;
}

.userphoto_selected {
background: #af7ce5;
}

/*Моб*/
input#comment_submit.button {
background: transparent;
text-shadow: 0 0 4px #280350;
border: none;
color: #fff;
padding-left: 8px;
padding-right: 8px;
}

input#comment_submit.button:hover {
background: transparent;
color: #fff;
text-shadow: 0 0 10px #fcfab5;
transition: 2s;
padding-left: 8px;
padding-right: 8px;
}

/*Моб*/
div#TB_window {
background: rgba(40, 3, 80);
box-shadow: 0 0 3px 2px rgba(250, 247, 137, 0.4);
border-radius: 10px;
}

div#TB_title {
border: none;
}

/*Моб*/
input.button {
background: transparent;
text-shadow: 0 0 4px #280350;
border: none;
color: #fff;
padding-left: 8px;
padding-right: 8px;
}

input.button:hover {
background: transparent;
color: #fff;
text-shadow: 0 0 10px #fcfab5;
transition: 2s;
padding-left: 8px;
padding-right: 8px;
}

::-webkit-scrollbar {
  width: 8px;
  background: #af7ce5;
}

::-webkit-scrollbar-thumb {
  background: #2e286f;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  background-color: #af7ce5;
}

.show_menu.header-orange {
background: transparent;
text-align: center;
text-shadow: 0 0 10px #fcfab5;
}

/*Мобильная версия*/

#mobile_photo_wrap{background: rgba(40, 3, 80);}
#mobile_menu .menu_item_dropdown a {background: rgba(40, 3, 80);}
#mobile_menu .menu_item_dropdown a:hover {background: rgba(40, 3, 80);}
.portal_spacer {background: rgba(40, 3, 80);}


nav.top_menu .p-1 a {
opacity: 0;}
.top_menu img {
opacity: 0;}

/*Кнопка вниз*/
.btn.btn-outline-success {border: none; text-align: center; color: #fff; text-shadow: 0 0 6px #fcfab5; font-weight: bold; box-shadow: none;}
div#profile_profile {border: none;}  

/*Написать в дневник*/
button.btn.btn-primary {background: #c096eb; border: none; color: #fff; font-weght: bold;  text-shadow: 0 0 6px #fcfab5;}

#mobile_menu {background: #030d23;}

button.close { display: none;}

div#user_status {
width: 100%;
}

a.page-link {color: #fff; background: rgba(40, 3, 80, 0.6);
box-shadow: 0 0 3px 2px rgba(250, 247, 137, 0.4);
border-radius: 30px; font-weight: bold;
text-shadow: 0 0 10px #fcfab5;
}
a.page-link {color: #fff; background: rgba(40, 3, 80, 0.6);
box-shadow: 0 0 3px 2px rgba(250, 247, 137, 0.4);
border-radius: 30px; font-weight: bold;
text-shadow: 0 0 10px #fcfab5;
 }

div#designs {
background: url(https://beon.vip/uploads_user/10000/9848/9623edc5229d3228864c17d65a27c530.png) left no-repeat;
border: none;
width: 50px;
height: 41px;    
}

div#user_status,.blog_user_status {
color: #fff;
}

div#comment_subscribe {
display: none;
}

div#bbcode {
background: #fff;
width: auto;
}

.post_data a, p.card-link.post_views, .post_data, .profile_comment_links {
color: #fff;
}

.like_button:before, p.card-link.post_views:before, p.card-link.post_comments a:before, [onclick^="more_menu"]:before, p.card-link:before, a.commentReply, .commentDeleteLink:before, a.commentReply:before, [onclick^="newmessage"]:before, .commentEditLink:before, p.card-link.grouppost_comments:before {
color: #fff; 
}

.card-link.post_views {
color: #fff;
}

a.card-link {
color: #fff;
}

.card-link.post_likes {
color: #fff;
}

.list-users-home.pt-2+.pt-2 button.btn.btn-primary.btn-block:hover, a.nav-item.nav-link.active:hover, .card [onclick="$('#profile_viewers').toggle();"]:hover, a.page-link:hover, button.btn.btn-primary:hover, div#ajax_status a:hover, button.btn.btn-outline-success:hover, button.navbar-toggler:hover {
background: transparent;
}

button.button_down:hover {
background: url(https://i.ibb.co/sbtqdCm/image.png) no-repeat
}

/*логомоб*/
nav .p-1 {
background: url(https://i.ibb.co/sF5vHCY/image.png) no-repeat;
-webkit-background-size:40px; position:relative; top: 4px;}
nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu{
background: rgba(40, 3, 80, 0.6);
box-shadow: 0 0 3px 2px rgba(250, 247, 137, 0.4);
}

/*Меню в шапке*/
.navbar-light .navbar-toggler {border-color:transparent;}
.navbar-light .navbar-toggler-icon {background-image: url(https://beon.vip/uploads_user/10000/9848/fa2b9b23d5e9102c03a1951f0357e99d.png);
background-size:contain;}
.navbar-light .navbar-toggler:focus {outline:none;}
